* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::before{
  content: "";
  width: 100%;
  height: 465px;
  background: #293241;
  position: absolute;
  z-index: -1;
}
body {
  background: #BFD7E4;
}

main {
  width: 750px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  color: white;
}
main header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
main header h1 {
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
}
main header p {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  height: 48px;
}

#stars {
  background-image: url(../img/bg-stars.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 225px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.stars-elements {
  margin-top: -20px;
  height: 21px;
  width: 21px;

  display: flex;
  gap: 6px;
}

.star::before {
  content: "";
  height: 21px;
  width: 21px;
  display: block;

  background-image: url("data:image/svg+xml,%3Csvg width='22' height='21' viewBox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M7.16104 20.8956C6.68498 20.8744 6.21852 20.7558 5.79101 20.5472C5.3635 20.3386 4.98419 20.0446 4.67699 19.6837C4.36979 19.3228 4.14132 18.9027 4.00599 18.4501C3.87067 17.9974 3.83141 17.5219 3.89067 17.0534L4.13811 15.1236C4.18534 14.7535 4.14112 14.3775 4.00928 14.028C3.87743 13.6785 3.66188 13.366 3.38116 13.1172L1.91803 11.822C1.43889 11.398 1.08908 10.8496 0.908145 10.2389C0.727213 9.62817 0.722381 8.97946 0.894214 8.36617C1.06605 7.75287 1.40766 7.19944 1.88045 6.76849C2.35324 6.33753 2.93835 6.04623 3.56955 5.92754L5.49841 5.56458C5.86818 5.49507 6.21536 5.33757 6.51003 5.10561C6.80469 4.87365 7.03801 4.57419 7.18991 4.23304L7.98166 2.45182C8.24089 1.86954 8.65933 1.37071 9.18974 1.01171C9.72015 0.652701 10.3414 0.447836 10.9831 0.420271C11.6249 0.392705 12.2617 0.543542 12.8215 0.855721C13.3812 1.1679 13.8417 1.62897 14.1508 2.18684L15.0947 3.89201C15.2757 4.2194 15.5344 4.4982 15.8485 4.70442C16.1626 4.91063 16.5226 5.03803 16.8975 5.07563L18.8502 5.27108C19.4894 5.33514 20.0978 5.57511 20.6065 5.96386C21.1152 6.35261 21.504 6.87464 21.7289 7.47087C21.9537 8.06711 22.0056 8.71378 21.8788 9.33774C21.752 9.96171 21.4515 10.5381 21.0113 11.0017L19.6664 12.4182C19.4082 12.6896 19.2207 13.0192 19.1199 13.3785C19.0192 13.7379 19.0083 14.1161 19.0882 14.4805L19.5031 16.3826C19.6389 17.0046 19.5964 17.6517 19.3803 18.251C19.1643 18.8502 18.7834 19.3776 18.2806 19.7736C17.7778 20.1696 17.1733 20.4183 16.5353 20.4917C15.8973 20.5651 15.2512 20.4602 14.6702 20.1889L12.8944 19.3599C12.554 19.2002 12.1794 19.125 11.803 19.141C11.4267 19.1571 11.06 19.2638 10.7346 19.4519L9.03784 20.4308C8.46985 20.76 7.81861 20.9213 7.16104 20.8956Z' fill='black'/%3E%3C/svg%3E%0A");
}


.stars-elements input:checked + .star::before {
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.23599 21.345C6.75993 21.3238 6.29347 21.2051 5.86596 20.9965C5.43844 20.7879 5.05914 20.4939 4.75194 20.133C4.44474 19.7721 4.21627 19.3521 4.08094 18.8994C3.94562 18.4467 3.90636 17.9712 3.96562 17.5028L4.21306 15.573C4.26029 15.2028 4.21607 14.8269 4.08423 14.4774C3.95238 14.1279 3.73683 13.8153 3.45611 13.5666L1.99298 12.2714C1.51384 11.8473 1.16402 11.299 0.983095 10.6883C0.802165 10.0775 0.797332 9.42882 0.969164 8.81552C1.141 8.20223 1.48265 7.6488 1.95544 7.21784C2.42823 6.78688 3.0133 6.49559 3.6445 6.3769L5.57336 6.01394C5.94314 5.94443 6.29031 5.78693 6.58498 5.55497C6.87965 5.32301 7.113 5.02355 7.2649 4.6824L8.05661 2.90117C8.31584 2.31889 8.73432 1.82007 9.26473 1.46106C9.79514 1.10206 10.4163 0.897193 11.0581 0.869627C11.6999 0.842061 12.3367 0.992878 12.8965 1.30506C13.4562 1.61724 13.9167 2.07833 14.2258 2.6362L15.1696 4.34133C15.3507 4.66871 15.6094 4.94754 15.9235 5.15375C16.2376 5.35996 16.5976 5.48735 16.9725 5.52495L18.9252 5.7204C19.5644 5.78445 20.1728 6.02443 20.6815 6.41317C21.1902 6.80192 21.579 7.32395 21.8038 7.92019C22.0286 8.51643 22.0806 9.16309 21.9538 9.78706C21.827 10.411 21.5265 10.9874 21.0863 11.451L19.7414 12.8675C19.4832 13.1389 19.2957 13.4685 19.1949 13.8278C19.0942 14.1872 19.0833 14.5654 19.1632 14.9298L19.5781 16.8319C19.7139 17.4539 19.6714 18.1011 19.4553 18.7003C19.2393 19.2995 18.8584 19.8269 18.3556 20.2229C17.8528 20.6189 17.2482 20.8676 16.6102 20.941C15.9722 21.0144 15.3262 20.9095 14.7452 20.6382L12.9694 19.8093C12.629 19.6495 12.2544 19.5743 11.878 19.5904C11.5017 19.6064 11.1349 19.7131 10.8096 19.9012L9.11284 20.8801C8.54484 21.2094 7.89357 21.3707 7.23599 21.345Z' fill='white'/%3E%3C/svg%3E%0A");
}

.stars-elements input {
  position: absolute;
  height: 21px;
  width: 21px;
  opacity: 0;
}